# Virtual Environment
venv/
env/
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST


# Large Datasets & Secrets (Phishing URLs trigger secret scanning)
data/


# Models (optional - keep small ones, ignore large ones if needed)
# models/*.h5
# models/*.pkl
# models/*.joblib

# VS Code
.vscode/

# Logs
*.log